body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 15rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
