.first, .second, .third {
  border: 1px solid black;
  cursor: pointer;
}

.first {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second {
  width: 250px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third {
  width: 100px;
  height: 50px;
}