* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vmin;
  height: 80vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  position: relative;
}

.items {
  flex-flow: 1;
  width: 100%;
  height: auto;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
}

.first,
.prev,
.next,
.last {
  width: calc(100% - 4px);
}
